
doctype html
style.

   .orion {
      background-image: url(images/001.jpg)
    }

    .ori2 {
      background-image: url(images/002.jpg)
    }

    .ori3{
      background-image: url(images/003.jpg)
    }

    .ori4{
      background-image: url(images/004.jpg)
    }

    .ori5{
      background-image: url(images/005.jpg)
    }

    .ori6{
      background-image: url(images/006.jpg)
    }

    p{
      margin-top: 25px;
      text-align: .3em;
    }
    h2{
      margin-top:20px;
    }

    .animasi-teks {
      font-family: 'StarmiX', sans-serif;
      font-size: 50px;
      width: 100%;
      letter-spacing: .3em;
      text-transform: capitalize;
      white-space:nowrap;
      overflow:hidden;
      -webkit-animation: typing 3s steps(70, end);
      animation: animasi-ketik 2s steps(70, end);
    }

    .animasi-teks:hover {
      font-family: 'StarmiX', sans-serif;
      font-size: 39px;
      text-transform: uppercase;
      width:100%;
      animation: tada 3s ease infinite alternate;
      font-weight:600;
    }

    .tada {
      font-family: 'StarmiX', sans-serif;
      font-size: 35px;
      width:100%;
      animation: tada .3s ease infinite alternate;
      font-weight:600;
    } 
    @keyframes tada {
      from {
        transform: scale3d(1, 1, 1);
      }

      10%, 20% {
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
      }

      30%, 50%, 70%, 90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
      }

      40%, 60%, 80% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
      }

      to {
        transform: scale3d(1, 1, 1);
      }
    }
    
    .animasi-teks:nth-child(2) {animation-delay: .1s;}
    .animasi-teks:nth-child(3) {animation-delay: .2s;}
    .animasi-teks:nth-child(4) {animation-delay: .3s;}
    .animasi-teks:nth-child(5) {animation-delay: .4s;}

    @keyframes bounce {
      100% {top:-20px;
      text-shadow:0 1px 0 #CCC,0 50px 25px rgba(0,0,0,.2);}}

    @@font-face {
      font-family: 'StarmiX';
      font-style: normal;
      font-weight: bold;
      src: local('StarmiX Regular'), local('StarmiX-Regular'), url('style/StarmiX.ttf') format('ttf');
    }

    @@font-face {
      font-family: "Painting in the Sunlight";
      font-style: normal;
      font-weight: bold;
      src: local("Painting in the Sunlight Regular"), url("style/Dancing in the Rainbow.ttf");
    }
    
    
      @keyframes animasi-ketik{
      from { width: 0; }
      }

      @-webkit-keyframes animasi-ketik{
        from { width: 0; }
      }

    


html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Perkembangan Smartphone 2017
    

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel="stylesheet", type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
    link(rel="stylesheet", type='text/css', href='style/animate.css')
    link(rel="stylesheet", type='text/css', href='style/animate.min.css')


  body

    article

      section(data-bespoke-backdrop='orion')
        h1(class='animasi-teks') Perkembangan Smartphone 2O17
        

      section(data-bespoke-backdrop='ori2')
        h3.bullet Created by Kelompok 1
        ul
          li Friska Pardede             (151113667)
          li Gilang Sinaga Putra        (151111941)
          li Hendri Korasi Simbolon     (151113586)
          li M. Nasril Fazrin Nst       (151111861)


      section(data-bespoke-backdrop='ori3')
        h2 Smartphone
        p Smartphone (ponsel pintar) adalah sebuah telepon mobile yang dibangun dengan sistem operasi komputer, memiliki kemampuan kalkulasi canggih, kamera pintar, tampilan yang trendy , konektifitas cepat dan banyak teknologi pintar yang membuatnya lebih dari sekedar telepon. Di tahun ini ada banyak teknologi baru yang menunjang kegunaan smartphone diantara lain :

      
      section(data-bespoke-backdrop='ori5')
        h2 1. Smartphone Tanpa Bezel
        p Tahun depan kita bakal disuguhi smartphone tanpa bezel lebih banyak lagi. Dengan meniadakan bezel, artinya kita akan bisa menikmati layar yang lebih luas tanpa harus mengorbankan portabilitas. Tentu saja, smartphone tanpa bezel itu keren! Kita sudah melihat betapa kerennya Samsung Galaxy S7 Edge dan juga Xiaomi Mi Mix dengan desain yang nyaris tanpa bezel. Ya, kita akan tetap melihat layar yang lebih besar tahun depan. Tapi, dalam ukurannya yang sama.

      section(data-bespoke-backdrop='ori6')
        h2 2. Prosesor Makin Kencang
        p Snapdragon 835 Itu nama yang bakal kamu sering dengar tahun depan. Prosesor ini sudah diluncurkan belum lama ini dan bekerja sama dengan Samsung dengan desain 10nm. Artinya smartphone flagship 2017 punya performa yang lebih kuat, tapi tetap efisien dan hemat baterai. Samsung sendiri juga sedang mengembangkan chipset 10nm anyarnya yakni Exynos 8895 untuk Galaxy S8.

      section(data-bespoke-backdrop='ori4')
        h2 Responsive Slides
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

        <img src="images/r1.jpg" alt="oppo f3" style="width:640;height:240;"> 

<<<<<<< HEAD
=======

      section(data-bespoke-backdrop='ori5')
        h2 1. Smartphone Tanpa Bezel
        p Tahun depan kita bakal disuguhi smartphone tanpa bezel lebih banyak lagi. Dengan meniadakan bezel, artinya kita akan bisa menikmati layar yang lebih luas tanpa harus mengorbankan portabilitas. Tentu saja, smartphone tanpa bezel itu keren! Kita sudah melihat betapa kerennya Samsung Galaxy S7 Edge dan juga Xiaomi Mi Mix dengan desain yang nyaris tanpa bezel. Ya, kita akan tetap melihat layar yang lebih besar tahun depan. Tapi, dalam ukurannya yang sama.

      section(data-bespoke-backdrop='ori6')
        h2 2. Prosesor Makin Kencang
        p Snapdragon 835 Itu nama yang bakal kamu sering dengar tahun depan. Prosesor ini sudah diluncurkan belum lama ini dan bekerja sama dengan Samsung dengan desain 10nm. Artinya smartphone flagship 2017 punya performa yang lebih kuat, tapi tetap efisien dan hemat baterai. Samsung sendiri juga sedang mengembangkan chipset 10nm anyarnya yakni Exynos 8895 untuk Galaxy S8.

>>>>>>> a0663eee56ddcd809f26a9bc6b79070313d1d2a8
      section(data-bespoke-backdrop='ori7') 
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='ori8')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')