
doctype html
style.


   .orion {
      background-image: url(images/001.jpg)
    }

    .ori2 {
         display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          height: 100%;
          background-color: #91c3ef;
          }

    .bg {
         display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          height: 100%;
          background-color: #f7f2f6;
          }

    .ori3{
      background-image: url(images/adr.jpg)
    }

    .ori4{
      background-image: url(images/adr.jpg)
    }

    .ori5{
      background-image: url(images/adr.jpg)
    }

    .ori6{
      background-image: url(images/adr.jpg)
    }

    .ori7{
      background-image: url(images/adr.jpg)
    }

    .ori8{
      background-image: url(images/adr.jpg)
    }

    .ori9{
      background-image: url(images/adr.jpg)
    }

    .ori10{
      background-image: url(images/adr.jpg)
    }

    .ori11{
      background-image: url(images/adr.jpg)
    }

    p{
      margin-top: 25px;
      text-align: .3em;
    }
    h2{
      margin-top:20px;
    }

    .animasi-teks {
      font-family: 'StarmiX', sans-serif;
      font-size: 40px;
      width: 100%;
      letter-spacing: .3em;
      text-transform: capitalize;
      white-space:nowrap;
      overflow:hidden;
      -webkit-animation: typing 3s steps(70, end);
      animation: animasi-ketik 2s steps(70, end);
    }

    .animasi-teks:hover {
      font-family: 'StarmiX', sans-serif;
      font-size: 39px;
      text-transform: uppercase;
      width:100%;
      animation: tada 5s ease infinite alternate;
      font-weight:600;
    }

    .tada {
      font-family: 'StarmiX', sans-serif;
      font-size: 35px;
      width:100%;
      animation: tada .3s ease infinite alternate;
      font-weight:600;
    } 

    
    @keyframes tada {
      from {
        transform: scale3d(1, 1, 1);
      }

      10%, 20% {
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
      }

      30%, 50%, 70%, 90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
      }

      40%, 60%, 80% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
      }

      to {
        transform: scale3d(1, 1, 1);
      }
    }


    @keyframes rotateInUpRight {
      from {
        transform-origin: right bottom;
        transform: rotate3d(0, 0, 1, -90deg);
        opacity: 0;
      }

      to {
        transform-origin: right bottom;
        transform: none;
        opacity: 1;
      }
    }

    .rotateInUpRight {
      animation: rotateInUpRight 2s ease-in;
    }


    .jackInTheBox {
        font-family: 'StarmiX', sans-serif;
        font-size: 35px;
        width:100%;
        animation: jackInTheBox 5s ease infinite alternate;
        font-weight:600;
      }

      @keyframes jackInTheBox {
        from {
          opacity: 0;
          transform: scale(0.1) rotate(30deg);
          transform-origin: center bottom;
        }

        50% {
          transform: rotate(-10deg);
        }

        70% {
          transform: rotate(3deg);
        }

        to {
          opacity: 1;
          transform: scale(1);
        }
      }

      img {
        width:50%;
        height:auto;
        animation: zoomIn 5s ease alternate;
        border-radius: 55px;
        
      }

      .zoom {
        width:50%;
        height:auto;
        animation: zoomIn 5s ease alternate;
        animation-duration:2s;
        border-radius: 25px;
      }

      .kecil {
        width:30%;
        height:auto;
        animation: zoomIn 5s ease alternate;
        border-radius: 55px;
      }
      .fadeInUpBig {
        animation: fadeInUpBig 3s ease alternate;
        animation-duration:2s;
      }
      @keyframes fadeInUpBig {
      from {
        opacity: 0;
        transform: translate3d(0, 2000px, 0);
      }

      to {
        opacity: 1;
        transform: none;
      }
    }
      .zoom:hover {
        width :120%;
        border: 25px solid #ABC transparent;
        border-radius: 25px;
      }

      img:hover {
        width :70%;
        border: 25px solid #ABC transparent;
        border-radius: 25px;
      }

      .kecil:hover {
        width :45%;
        border: 25px solid #ABC transparent;
        border-radius: 25px;
      }

      
    
      @keyframes zoomIn {
        from {
          opacity: 0;
          transform: scale3d(.3, .3, .3);
        }

        50% {
          opacity: 1;
        }
      }

      

    .animasi-teks:nth-child(2) {animation-delay: .1s;}
    .animasi-teks:nth-child(3) {animation-delay: .2s;}
    .animasi-teks:nth-child(4) {animation-delay: .3s;}
    .animasi-teks:nth-child(5) {animation-delay: .4s;}

    @keyframes bounce {
      100% {top:-20px;
      text-shadow:0 1px 0 #CCC,0 50px 25px rgba(0,0,0,.2);}}

    @@font-face {
      font-family: 'StarmiX';
      font-style: normal;
      font-weight: bold;
      src: local('StarmiX Regular'), local('StarmiX-Regular'), url('style/StarmiX.ttf') format('ttf');
    }

    @font-face {
      font-family: "Painting in the Sunlight";
      font-style: normal;
      font-weight: bold;
      src: local("Painting in the Sunlight Regular"), url("font/Dancing in the Rainbow.ttf");
    }

    h1 {
      font : initial;
    }
    
    
      @keyframes animasi-ketik{
      from { width: 0; }
      }

      @-webkit-keyframes animasi-ketik{
        from { width: 0; }
      }

    .butt {
      background-color: #4895c8;
      border-color: rgba(255, 255, 255, 0.2);
    }

    .btn {
        margin-top: 50px;
    }
    


html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Perkembangan Smartphone 2017
    
    link(rel="shortcut icon" href="../favicon.ico")
    link(rel="stylesheet" type="text/css" href="css/style1.css")
    link(rel="stylesheet" type="text/css" href="css/font-awesome.css")
    link(href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300' rel='stylesheet' type='text/css')

    link(rel='stylesheet', type='text/css', href='build/build.css')
    ink(rel='stylesheet', type='text/css', href='css/button.css')
    link(rel="stylesheet", type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
    link(rel="stylesheet", type='text/css', href='css/animate.css')
    link(rel="stylesheet", type='text/css', href='css/animate.min.css')
    link(rel='stylesheet' href='css/style.css')
    link(rel="stylesheet" href="css/reset.min.css")
    link(rel="stylesheet" href="css/button.css")


  body

    article
      section(data-bespoke-backdrop='orion')
        h1.animasi-teks Perkembangan Smartphone 2O17 
      section(data-bespoke-backdrop='ori2')
        h3(class='word')
        script(src='js/jquery.min.js')
        script(src='js/index.js')

      section(data-bespoke-backdrop='bg')
        h2 Mari Mulai
        <a href="isi.html" class="btn"><span>Go !</span></a>

        
    
     
    script(src='build/build.js')
