
doctype html
style.

   .orion {
      background-image: url(images/001.jpg)
    }

    .ori2 {
      background-image: url(images/002.jpg)
    }

    .ori3{
      background-image: url(images/003.jpg)
    }

    .ori4{
      background-image: url(images/004.jpg)
    }

    .ori5{
      background-image: url(images/005.jpg)
    }

    .ori6{
      background-image: url(images/006.jpg)
    }

    p{
      margin-top: 25px;
      text-align: .3em;
    }

    


html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Perkembangan Smartphone 2017
    

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section(data-bespoke-backdrop='orion')
        h1.judul Perkembangan Smartphone 2017
        

      section(data-bespoke-backdrop='ori2')
        h3.bullet Created by Kelompok 1
        ul
          li Friska Pardede
          li Gilang Sinaga Putra
          li Hendri Korasi Simbolon
          li M. Nasril Fazrin Nst


      section(data-bespoke-backdrop='ori3')
        h2 Smartphone
        p Smartphone (ponsel pintar) adalah sebuah telepon mobile yang dibangun dengan sistem operasi komputer, memiliki kemampuan kalkulasi canggih, kamera pintar, tampilan yang trendy , konektifitas cepat dan banyak teknologi pintar yang membuatnya lebih dari sekedar telepon. Di tahun ini ada banyak teknologi baru yang menunjang kegunaan smartphone diantara lain :

      section(data-bespoke-backdrop='ori4')
        h2 Responsive Slides
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

        <img src="images/r1.jpg" alt="oppo f3" style="width:640;height:240;"> 


      section(data-bespoke-backdrop='ori5')
        h2 1. Smartphone Tanpa Bezel
        p Tahun depan kita bakal disuguhi smartphone tanpa bezel lebih banyak lagi. Dengan meniadakan bezel, artinya kita akan bisa menikmati layar yang lebih luas tanpa harus mengorbankan portabilitas. Tentu saja, smartphone tanpa bezel itu keren! Kita sudah melihat betapa kerennya Samsung Galaxy S7 Edge dan juga Xiaomi Mi Mix dengan desain yang nyaris tanpa bezel. Ya, kita akan tetap melihat layar yang lebih besar tahun depan. Tapi, dalam ukurannya yang sama.

      section(data-bespoke-backdrop='ori6')
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-backdrop='ori7') 
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='ori8')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')