
doctype html
style.

   .orion {
      background-image: url(images/001.jpg)
    }

    .ori2 {
      background-image: url(images/adr.jpg)
    }

    .ori3{
      background-image: url(images/adr.jpg)
    }

    .ori4{
      background-image: url(images/adr.jpg)
    }

    .ori5{
      background-image: url(images/adr.jpg)
    }

    .ori6{
      background-image: url(images/adr.jpg)
    }

    .ori7{
      background-image: url(images/adr.jpg)
    }

    .ori8{
      background-image: url(images/adr.jpg)
    }

    .ori9{
      background-image: url(images/adr.jpg)
    }

    .ori10{
      background-image: url(images/adr.jpg)
    }

    .ori11{
      background-image: url(images/adr.jpg)
    }

    p{
      margin-top: 25px;
      text-align: .3em;
    }
    h2{
      margin-top:20px;
    }

    .animasi-teks {
      font-family: 'StarmiX', sans-serif;
      font-size: 50px;
      width: 100%;
      letter-spacing: .3em;
      text-transform: capitalize;
      white-space:nowrap;
      overflow:hidden;
      -webkit-animation: typing 3s steps(70, end);
      animation: animasi-ketik 2s steps(70, end);
    }

    .animasi-teks:hover {
      font-family: 'StarmiX', sans-serif;
      font-size: 39px;
      text-transform: uppercase;
      width:100%;
      animation: tada 5s ease infinite alternate;
      font-weight:600;
    }

    .tada {
      font-family: 'StarmiX', sans-serif;
      font-size: 35px;
      width:100%;
      animation: tada .3s ease infinite alternate;
      font-weight:600;
    } 

    @keyframes tada {
      from {
        transform: scale3d(1, 1, 1);
      }

      10%, 20% {
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
      }

      30%, 50%, 70%, 90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
      }

      40%, 60%, 80% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
      }

      to {
        transform: scale3d(1, 1, 1);
      }
    }


    .jackInTheBox {
        font-family: 'StarmiX', sans-serif;
        font-size: 35px;
        width:100%;
        animation: jackInTheBox 5s ease infinite alternate;
        font-weight:600;
      }

      @keyframes jackInTheBox {
        from {
          opacity: 0;
          transform: scale(0.1) rotate(30deg);
          transform-origin: center bottom;
        }

        50% {
          transform: rotate(-10deg);
        }

        70% {
          transform: rotate(3deg);
        }

        to {
          opacity: 1;
          transform: scale(1);
        }
      }

      img {
        width:50%;
        height:auto;
        animation: zoomIn 5s ease alternate;
        border-radius: 55px;
        
      }

      .zoom {
        width:50%;
        height:auto;
        animation: zoomIn 5s ease alternate;
        border-radius: 25px;
      }

      .kecil {
        width:30%;
        height:auto;
        animation: zoomIn 5s ease alternate;
        border-radius: 55px;
      }
      .fadeInUpBig {
        animation: fadeInUpBig 3s ease alternate;
      }
      @keyframes fadeInUpBig {
      from {
        opacity: 0;
        transform: translate3d(0, 2000px, 0);
      }

      to {
        opacity: 1;
        transform: none;
      }
    }
      .zoom:hover {
        width :120%;
        border: 25px solid #ABC transparent;
        border-radius: 25px;
      }

      img:hover {
        width :70%;
        border: 25px solid #ABC transparent;
        border-radius: 25px;
      }

      .kecil:hover {
        width :45%;
        border: 25px solid #ABC transparent;
        border-radius: 25px;
      }

      
    
      @keyframes zoomIn {
        from {
          opacity: 0;
          transform: scale3d(.3, .3, .3);
        }

        50% {
          opacity: 1;
        }
      }

    .animasi-teks:nth-child(2) {animation-delay: .1s;}
    .animasi-teks:nth-child(3) {animation-delay: .2s;}
    .animasi-teks:nth-child(4) {animation-delay: .3s;}
    .animasi-teks:nth-child(5) {animation-delay: .4s;}

    @keyframes bounce {
      100% {top:-20px;
      text-shadow:0 1px 0 #CCC,0 50px 25px rgba(0,0,0,.2);}}

    @@font-face {
      font-family: 'StarmiX';
      font-style: normal;
      font-weight: bold;
      src: local('StarmiX Regular'), local('StarmiX-Regular'), url('style/StarmiX.ttf') format('ttf');
    }

    @font-face {
      font-family: "Painting in the Sunlight";
      font-style: normal;
      font-weight: bold;
      src: local("Painting in the Sunlight Regular"), url("style/Dancing in the Rainbow.ttf");
    }
    
    
      @keyframes animasi-ketik{
      from { width: 0; }
      }

      @-webkit-keyframes animasi-ketik{
        from { width: 0; }
      }

    


html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Perkembangan Smartphone 2017
    

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel="stylesheet", type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
    link(rel="stylesheet", type='text/css', href='style/animate.css')
    link(rel="stylesheet", type='text/css', href='style/animate.min.css')


  body

    article

      section(data-bespoke-backdrop='orion')
        h1(class='animasi-teks') Perkembangan Smartphone 2O17
        

      section(data-bespoke-backdrop='ori2')
        h3.bullet Created by Kelompok 1
        ul
          li Friska Pardede             (151113667)
          li Gilang Sinaga Putra        (151111941)
          li Hendri Korasi Simbolon     (151113586)
          li M. Nasril Fazrin Nst       (151111861)


      section(data-bespoke-backdrop='ori3')
        h2 Smartphone
        p Apa itu Smartphone ? Smartphone (ponsel pintar) adalah sebuah telepon mobile yang dibangun dengan sistem operasi komputer, memiliki kemampuan kalkulasi canggih, kamera pintar, tampilan yang trendy , konektifitas cepat dan banyak teknologi pintar yang membuatnya lebih dari sekedar telepon. Di tahun ini ada banyak teknologi baru yang menunjang kegunaan smartphone diantara lain :
      
      section(data-bespoke-backdrop='ori5')
        h2.fadeInUpBig 1. Smartphone Tanpa Bezel
        p.fadeInUpBig Bezel itu apa sih ? Bezel adalah bagian tepi pada layar Smartphone. Di tahun 2017 ini beberapa produsen smartphone sudah merilis keluaran terbaru yaitu smartphone tanpa Bezel. Dengan meniadakan bezel, artinya kita akan bisa menikmati layar yang lebih luas tanpa harus mengorbankan portabilitas. Tentu saja, smartphone tanpa bezel itu keren! Kita sudah melihat betapa kerennya Samsung Galaxy S7 Edge Samsung Galaxy S8 dengan desain yang nyaris tanpa bezel. Tentu nya ini akan membuat kita semakin puas dalam menggunakan Smartphone.

      section(data-bespoke-backdrop='ori6')
        h2.jackInTheBox Contoh Smartphone tanpa Bezel
        <img  src="images/s8.jpg" alt="HP tanpa bezel" style="padding-top:20px;"> 

      section(data-bespoke-backdrop='ori6')
        h2.fadeInUpBig 2. Prosesor Makin Kencang
        p.fadeInUpBig Snapdragon 835, Ini adalah prosesor terbaru di tahun 2017. Prosesor ini sudah diluncurkan dan bekerja sama dengan Samsung dengan desain 10nm. Artinya smartphone flagship 2017 punya performa yang lebih kuat, tapi tetap efisien dan hemat baterai. Samsung sendiri juga sedang mengembangkan chipset 10nm anyarnya yakni Exynos 8895 untuk Galaxy S8.

      section(data-bespoke-backdrop='ori6')
        h2.jackInTheBox Procesor Snapdragon 835
        <img  src="images/psr.jpg" alt="HP tanpa bezel" style="padding-top:20px;">

      section(data-bespoke-backdrop='ori6')
        h2.fadeInUpBig 3. RAM Lebih Besar
        p.fadeInUpBig Snapdragon 820/821 berpadu RAM 4 GB/6 GB adalah kemajuan teknologi smartphone tahun ini. Tahun depan, mungkin saatnya Snapdragon 835 dan RAM 6 GB/8 GB. Seiring dengan kemajuan Hardware di bidang Komputer , maka smartphone juga semakin canggih , dengan semakin besar nya RAM pada smartphone , tentu ini akan membuat kita bisa semakin baik dalam penggunaan smatphone yang tinggi.

      section(data-bespoke-backdrop='ori6')
        h2.jackInTheBox Procesor Snapdragon 835
        <img  src="images/ram.jpg" alt="HP tanpa bezel" style="padding-top:20px;">  

      section(data-bespoke-backdrop='ori4')
        h2.fadeInUpBig 4.Virtual Reality
        p.fadeInUpBig Tahun ini teknologi virtual reality ibarat bayi yang baru lahir dan baru bisa kita cicipi saja. Untungnya, banyak produsen teknologi yang serius mengembangkan teknologi VR.Google punya Daydream, Samsung punya Gear VR, belum lagi Facebook dan Sony dengan PlayStation VR. Salah satu kendala tahun ini karena resolusi layar, 2K ternyata belum cukup.Maka dari itu, smartphone flagship tahun depan mungkin akan dibekali dengan resolusi layar 4K untuk VR yang lebih baik. Meskipun, perlu menyiasati untuk performa dan baterainya itu sendiri.
 

      section(data-bespoke-backdrop='ori7') 
        h2.jackInTheBox Contoh Virtual Reality
        <img src="images/virtual-reality.jpeg" alt="Virtual Reality" style="padding-top:20px;">


      section(data-bespoke-backdrop='ori8')
        h2.fadeInUpBig 5. Sensor Jari atau Mata?
        p.fadeInUpBig Jari atau mata adalah metode yang bakal sering kita gunakan untuk membuka kunci smartphone tahun depan. Samsung diharapkan menghadirkan fitur pemindai mata di Galaxy S8 yang sempat numpang lewat di Galaxy Note 7. Sementara, sensor sidik jari semakin merakyat tahun depan. Karena hadir sebagai fitur wajib yang harus ada di smartphone murah sekalipun.

      section(data-bespoke-backdrop='ori8') 
        h2.jackInTheBox Contoh Sensor Iris Mata
        <img src="images/pemindai-iris.jpeg" alt="Pemindai Iris Mata" style="padding-top:20px;">
              
  
      section.emphatic-text(data-bespoke-backdrop='ori9')
        h2.fadeInUpBig 6. Asisten Digital Berbasis Kecerdasan Buatan
        p.fadeInUpBig Saat ini smartphone flagship mulai mengungsung teknologi asisten suara berbasis kecerdasan buatan. dan tren itu akan terus meningkat hingga 2021, berdasarkan riset. Walaupun Siri, Cortana, Google Now, tahun ini sudah cukup pintar. Namun, kemampuannya memang masih punya keterbatasan.

      section(data-bespoke-backdrop='ori9') 
        h2.jackInTheBox Contoh Google Assisten
        <img class="kecil" src="images/google-pixel.jpeg" alt="Google Asisten" style="padding-top:20px;">

      section(data-bespoke-backdrop='ori9')
        h2.fadeInUpBig 7. Pembayaran Mobile
        p.fadeInUpBig Pembayaran mobile juga merupakan fitur terbaru yang ada di tahun ini. Google punya Android Pay dan beberapa vendor smartphone juga menawarkan pembayaran mobile dengan teknologi mereka sendiri seperti Samsung Pay dan Apple Pay. Jadi dengan ada nya pembayaran mobile ini masyarakat akan lebih terbantu dalam hal pembayaran karena tidak harus menggunakan uang tunai.

       section.emphatic-text(data-bespoke-backdrop='ori10')
        h2.jackInTheBox Contoh Pembayaran Mobile
        <img  src="images/pbr.jpg" alt="Google Asisten" style="padding-top:20px;">

       section(data-bespoke-backdrop='ori9')
        h2.fadeInUpBig 8. Kamera Profesional
        p.fadeInUpBig Teknologi kamera selalu mengalami peningkatan pada smartphone flagship setiap tahunnya. Kamera smartphone memang sangat dapat diandalkan. Di tahun 2017 ini setiap smartphone memiliki kamera yang sangat baik , dengan resolusi yang tinggi ini menjadi daya tarik masyarakat dalam hal pembelian smartphone , beberapa kamera yang sangat baik di tahun ini adalah Samsung galaxy A dan S , iphone dan , Oppo smartphone.

       section.emphatic-text(data-bespoke-backdrop='ori10')
        h2.jackInTheBox Contoh Smartphone Dengan Kamera Profesional
        <img  src="images/kmr.jpg" alt="Google Asisten" style="padding-top:20px;"> 

       section.emphatic-text(data-bespoke-backdrop='ori11')
        h2 Thankyou
        h3 Design By Team 1

    script(src='build/build.js')
